DB_HOST=localhost
DB_PORT=5332
DB_NAME=assignment_alert
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=assignment_alert

AWS_REGION=us-east-1

APP_CORS_ALLOWED_ORIGINS=chrome-extension://your-extension-id
